{% extends 'base.html' %}
{% load static%}
{% block content %}
<form action="update" style="margin: 0px; padding: 0px">
    {% csrf_token %}  
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Cart</strong>
          </div>
        </div>
      </div>
    </div>
    {% if item_count == 0 %}
    <div class="site-section">
      <div class="container">
        <div class="row">
            <h2 class="h5 text-black" style="padding-left: 45%" >Cart is empty !!</h2><br><br>
            <a href="/" class="btn btn-outline-primary btn-sm btn-block" style="margin-right: 40%; margin-left: 40%">
              <p style="padding: 9px" >Continue Shopping</p>
            </a>
      
        </div>
      </div>
    </div>
            
    {% else %}
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Images</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for item in items %}
                  <tr>
                    <td class="product-thumbnail">
                      <img src="/media/{{item.book.img}}" alt="Image" class="img-fluid" height="100">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{item.book.title}}</h2>
                    </td>
                    <td>{{item.book.price}}</td>
                    <td>
                      <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="text" id="n{{item.id}}" name="n{{item.id}}" class="form-control text-center" 
                                value="{{item.quantity}}" placeholder="" aria-label="Example text with button addon" 
                                aria-describedby="button-addon1">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                        </div>
                      </div>

                    </td>
                    <td>{{item.total}}</td>
                    <td><a href="remove/{{item.id}}" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
      </div>

        <div class="row">
          
          <div class="col-md-6">
            
            <div class="row mb-5">
              <div class="col-md-6 mb-3 mb-md-0">
                <button type="submit" class="btn btn-primary btn-sm btn-block">Update cart</button>
              </div>
            
              <div class="col-md-6">
                  <a href="/" class="btn btn-outline-primary btn-sm btn-block">
                    <p style="padding: 9px" >Continue Shopping</p>
                  </a>
              </div>
            </div>
          
          </div>
          
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">{{total}}</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <a href="/checkout" class="btn btn-outline-primary btn-sm btn-block">
                      <p style="padding: 9px">Proceed to checkout</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  {% endif %}
{% endblock %}
